body{
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: blue;
    text-transform: uppercase;
}

section{
    width: 80%;
    margin: 0% 10%;
    display: flex;
    flex-direction: row;
}

article :first-child {
    color: blueviolet;
    display: block;
}

section :nth-child(2){

}

section :last-child{
    
}

article {
    width: 40%;
    margin: 3% 4%;
    padding: 1%;
    border: black 3px solid;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

    article img {
        width: 30%;
        float: left;
    }

    article > div {
        padding: 0% 2%;
    }

li {
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 5%;
    display: inline;
}

li > a {
    text-decoration: none;
    color: red;
}

h3 {
    text-transform: uppercase;
}