/*
        Se aplican estas propiedades al Body para que no hayan margenes
    en ningun sitio de los extremos de la página web.
*/
body{
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
}

/* Se importa la fuente Lobster de Google */
@font-face{
    font-family: "Food Font";
    src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

/* Se le aplica este tipo de fuente a toda la Página Web. */
*{
    font-family: 'Lobster', cursive;
}

h1, h2 {
    text-align: center;
}

h1{
    word-spacing: 1rem;
}

h2{
    letter-spacing: 0.2rem;
    text-decoration: underline;
    color: beige;
}

li + p{
    padding-left: 2%;
}

div table{
    width: 90%;
    margin: 0% 5%;
}

div table tbody tr td{
    width: 25%;
}

#tartar table tr th{
    color: red;
}

div table tr td > img{
    width: 100%;
}

#risotto tr:first-child th{
    color: green;
}

#Antipasti ol{
    list-style-type: upper-latin;
}
main{
    background-color: burlywood;
    margin: 0% 10%;
}

div > p{
    text-align: center;
    font-size: 1.5rem;
}

table{
    caption-side: top;
    width: 80%;
    margin: 0% 9%;
    empty-cells: hide;
    overflow: hidden;
}

th{
    text-transform: uppercase;
}

td{
    text-transform: lowercase;
}

td > img{
    width: 250px;
}

table, tr, th, td{
    border: solid black;
    text-align: center;
    color: white;
}

#Dolci tr > td{
    width: 30%;
}

th, td{
    padding: 0% 5%;
}

div > p{
    color: white;
}

#vinos_list{
    display: flex;
    flex-direction: row;
    text-align: left;
    line-height: 3rem;
    list-style-type: square;
}

#vinos_list div{
    width: 25%;
}

#vinos_list div ul li{
    color: white;
}

#vinos_list div ul li:first-child{
    color: #028e44;
}

#vinos_list div ul li:last-child{
    color: RED;
}

#vinos_list div ul{
    list-style-image: url(images/wine.png);
    list-style-position: inside;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8C1000;
}

header ul li{
    padding-left: 3%;
    float: left;
}

header ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

tbody tr th:first-child, tr td:first-child{
    background-color: #028e44;
}

tbody tr th:first-child{
    color: green;
}

tbody tr th:last-child{
    color: red;
}

tbody tr th:last-child{
    color: white;
}

/*

    PSEUDO ELEMENTOS

    
*/