body{
    margin: 0;
    padding: 0;
}

body > div{
    position: absolute;
    max-width: 900px;
    max-height: 900px;
    margin: 2%;
}

#logo, #menubar, #barra, #noticias, #principal, #union{
    border: black solid 1px;
}

#barra, #noticias{
    width: 20%;
}

#barra, #noticias, #principal{
    position: absolute;
    top: 160px;
}

#noticias{
    left: 0%;
}

#barra{
    right: 0%;
}

#principal{
    right: 21%;
    left: 21%;
}